<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.testservice.platform.server.dao.ApkMapper">
	<resultMap id="BaseResultMap"
		type="com.testservice.platform.server.model.Apk">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="package_name" jdbcType="VARCHAR"
			property="packageName" />
		<result column="app_name" jdbcType="VARCHAR" property="appName" />
		<result column="description" jdbcType="VARCHAR"
			property="description" />
		<result column="create_by" jdbcType="VARCHAR"
			property="createBy" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="last_update_by" jdbcType="VARCHAR"
			property="lastUpdateBy" />
		<result column="last_update_time" jdbcType="TIMESTAMP"
			property="lastUpdateTime" />
		<result column="remarks" jdbcType="VARCHAR" property="remarks" />
		<result column="del_flag" jdbcType="TINYINT" property="delFlag" />
	</resultMap>
	<sql id="Base_Column_List">
		id,
		package_name,
		app_name,
		description,
		create_by,
		create_time,
		last_update_by,
		last_update_time,
		remarks,
		del_flag
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from apk
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from apk
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.testservice.platform.server.model.Apk">
		insert into apk (id,
		package_name,
		app_name,
		description,
		create_by,
		create_time,
		last_update_by,
		last_update_time,
		remarks,
		del_flag
		)
		values (#{id,jdbcType=BIGINT},
		#{packageName,jdbcType=VARCHAR},
		#{appName,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{createBy,jdbcType=VARCHAR},
		CURRENT_TIMESTAMP(),
		#{lastUpdateBy,jdbcType=VARCHAR},
		CURRENT_TIMESTAMP(),
		#{remarks,jdbcType=VARCHAR},
		#{delFlag,jdbcType=TINYINT}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.testservice.platform.server.model.Apk">
		insert into apk
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="packageName != null">
				package_name,
			</if>
			<if test="appName != null">
				app_name,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="lastUpdateBy != null">
				last_update_by,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="packageName != null">
				#{packageName,jdbcType=VARCHAR},
			</if>
			<if test="appName != null">
				#{appName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateBy != null">
				#{lastUpdateBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.testservice.platform.server.model.Apk">
		update apk
		<set>
			<if test="packageName != null">
				package_name = #{packageName,jdbcType=VARCHAR},
			</if>
			<if test="appName != null">
				app_name = #{appName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateBy != null">
				last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.testservice.platform.server.model.Apk">
		update apk
		set package_name =
		#{packageName,jdbcType=VARCHAR},
		app_name =
		#{appName,jdbcType=VARCHAR},
		description =
		#{description,jdbcType=VARCHAR},
		create_by =
		#{createBy,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		last_update_by =
		#{lastUpdateBy,jdbcType=VARCHAR},
		last_update_time =
		CURRENT_TIMESTAMP(),
		remarks =
		#{remarks,jdbcType=VARCHAR},
		del_flag =
		#{delFlag,jdbcType=TINYINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="findPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from apk
	</select>

	<select id="findByPackageName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from apk where package_name = #{packageName}
	</select>
	<select id="findPageByLabel" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		<bind name="pattern" value="'%' + _parameter.label + '%'" />
		select
		<include refid="Base_Column_List" />
		from apk
		where app_name like #{pattern}
	</select>
	<select id="findByLable" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from apk
		where app_name = #{label,jdbcType=VARCHAR}
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from apk
	</select>
</mapper>